<%= stylesheet_link_tag 'style_authors', media: 'all' %>

<div class="container_main">
  
  <h1>AUTHORS</h1>


  <div class="list_div"> 
      <% @authors.each do |b| %>
        <%= link_to b.title, b %>
      <% end %>
  </div>
  
  <%= link_to "Insert Author", new_author_path, class: "div_button" %>


</div>