<%= stylesheet_link_tag 'generation', media: 'all' %>

<div class="container_main">

  <h1>Books</h1>
  <h2>List</h2>
  <ul>
    <% @books.each do |b| %>
      <li>
      <%= link_to b.title, b %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Insert Book", new_book_path, class: "div_button" %>

</div>