<%= stylesheet_link_tag 'generation', media: 'all' %>

<div class="container_main">

  <h1>BOOKS</h1>

  <div class="list_div"> 
      <% @books.each do |b| %>
        <%= link_to b.title, b %>
      <% end %>
  </div>
  
  <%= link_to "Insert Book", new_book_path, class: "div_button" %>


</div>