@import 'https://fonts.googleapis.com/css?family=Lato:300';

html{
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgb(218, 210, 210);
}

/*Style button*/

.div_button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #d49715;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  
}

.div_button_position {
  bottom: 20px;
  position: absolute;
}

.div_button:hover {
  background-color: #fdaf06
}

.div_button:active {
  background-color: #a6b057;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
